.container {
  display: inherit;
}

.container:hover::after {
  content: attr(data-msg);
  background-color: var(--base-color);
  color: var(--accent-color);
  padding: 2px 4px;
  border-radius: 4px;
  text-align: center;
  width: 17.2rem;
  margin-left: auto;
}

.btn-options {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: end;

  border-right: 1px solid var(--base-color);
  border-left: 1px solid var(--base-color);
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0px 0px 1px 0px var(--base-color-opacity),
    2px 2px 2px 0px var(--base-color-opacity),
    -2px 2px 2px 0px var(--base-color-opacity);
}
