.container {
  display: flex;
  align-items: baseline;
  column-gap: 0.5rem;
  flex-wrap: wrap;

  width: 100%;
}

.divider::after {
  content: '-';
}

.container > svg {
  margin-left: 0.5rem;
}

.input {
  width: 97.4%;

  font: 500 2.3rem var(--font-mono);

  color: var(--text-color);
  caret-color: var(--accent-color);

  border: none;
  outline: none;
  border-radius: 3px;
}

.input::placeholder {
  color: var(--text-color);
  text-transform: capitalize;
}

.fullHeight {
  height: 100%;
}

.noResize {
  resize: none;
}

.success {
  background-color: var(--container-color);
}

.loading {
  opacity: 0.3;
  cursor: wait;
}
