.container {
  display: flex;
  align-items: baseline;
  column-gap: 0.8rem;

  width: 100%;
}

.input {
  width: 100%;

  font: 500 2.3rem var(--font-mono);

  color: var(--text-color);
  caret-color: var(--text-color);

  border: none;
  border-radius: 3px;
}

.input::placeholder {
  color: var(--text-color);
}

.fullHeight {
  height: 100%;
}

.noResize {
  resize: none;
}

.success {
  background-color: var(--card-bg-color);
}

.loading {
  background-color: var(--card-bg-disabled);

  cursor: wait;
}
