.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2.6rem;

  width: 75vw;
  height: 75vh;

  background-color: var(--container-color);

  padding: 3.2rem;
  border-radius: 10px;
  overflow: hidden;
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.error {
  color: var(--accent-color);
  font-size: 3.2rem;
}
