.btn {
  width: 2.8rem;
  height: 2.4rem;

  background-color: var(--container-color);

  border: none;
  border-bottom: 1px solid var(--base-color);

  opacity: 0.6;
  cursor: pointer;
}

.btn:hover {
  opacity: 1;
}

.btn > svg {
  fill: var(--text-color);
}

.btn:hover > svg {
  fill: var(--accent-color);
}

.last-card {
  opacity: 0.3;
  cursor: not-allowed;
}

.last-card:hover {
  opacity: 0.3;
}
