.btn {
  width: 3.2rem;
  height: 3.2rem;

  background-color: transparent; 

  border: none;

  cursor: pointer;

  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}

.last-card {
  opacity: 0.3;
  cursor: not-allowed;
}

.last-card:hover {
  opacity: 0.3;
}

@media (max-width: 800px) {
  .btn {
    width: 4.8rem;
    height: 4.8rem;
  }
}
