.container {
  display: flex;
  align-items: baseline;
  column-gap: 3.2rem;
  flex-wrap: wrap;

  width: 100%;
}

.input {
  flex-grow: 1;

  font: 500 2.2rem var(--font-mono);

  color: var(--text-color);
  caret-color: var(--accent-color);
  background-color: var(--editor-color);

  border: none;
  outline: none;
  border-radius: 3px;
}

.input::placeholder {
  color: rgba(0, 0, 0, 25%);
  text-transform: capitalize;
}

.full-height {
  height: 100%;
}

.no-resize {
  resize: none;
}

.grid-scene-heading-item {
  grid-area: 1 / 1 / 2 / 2;
}

.grid-synopsis-item {
  grid-area: 2 / 1 / 3 / 2;
}

.grid-conflict-item {
  grid-area: 3 / 1 / 4 / 2;
}
