.return-btn-container {
  margin: 3.2rem 0 0 3.2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  height: 86vh;
}

.main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  align-items: baseline;

  width: 75vw;
  height: 75vh;

  background-color: var(--container-color);

  padding: 3.2rem;
  border-radius: 10px;
  overflow: hidden;

  box-shadow: hsla(195, 8%, 62%, 0.2) 0px 8px 24px;
}

.footer {
  grid-area: 4 / 1 / 5 / 3;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
